<div ng-controller="CategoryCtrl" id="usuarios">
    <h2 class="page-title">
        Categories <span class="text-muted">({{ compcategories.length }})</span>
    </h2>
	<div class="box with-margins nested-list dd full_width_list">
		<div id="side-form" class="sidebar_position_relative">
            <form id="form-category">
				<div class="form ">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label for="nome_categoria" class="control-label" style="margin-bottom:15px;">Nome</label>
										<input id="id_categoria_competencias" name="id_categoria_competencias" type="hidden" class="form-control" value="{{ categoryData.id_categoria_competencias }}">
										<input id="nome_categoria" name="nome_categoria" type="text" class="form-control" value="{{ categoryData.nome_categoria }}">
									</div>
									<div class="form-group">
										<label for="ativo" class="control-label" style="margin-bottom:15px;">Tipo</label>
										<select class="form-control" name="ativo" id="ativo">
											<option value="1">Activo</option>
											<option value="0">Inativo</option>
										</select>	
									</div>
								</div>
								<div class="col-md-9">
									<div class="form-group">
										<label for="descricao_categoria" class="control-label">Descricao</label>
										<textarea id="descricao_categoria" name="descricao_categoria" rows="3" class="form-control">{{ categoryData.descricao_categoria }}</textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<button type="submit" class="btn btn-success salvar" data-loading-text="<i class='icon-spinner animate-spin'></i> Salvando">Salvar</button>
						</div>
					</div>
				</div>
			</form>	
		</div>
	</div>
    <div id="list" class="nested-list dd with-margins box full_width_list">
		<div class="box-header">
            <h4>Editar Categoria</h4>
            <div class="buttons">
                <form style="display:inline-block; vertical-align:top;" ng-submit="search()">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Categoria por nome" ng-model="query">
                        <span class="input-group-btn">
                            <button type="button"><i class="entypo-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
		<div class="thead">
			<table>
				<thead>
					<td width="20%">Nome</td>
					<td width="50%">Descricao</td>
					<td width="30%"></td>
				</thead>
			</table>
		</div>
		<table class="content">
				<tr ng-repeat="category in compcategories | filter : query">
					<td width="20%">{{ category.nome_categoria }}</td>
					<td width="50%">{{ category.descricao_categoria }}</td>
					<td width="30%">
						<a href="javascript:void(0)" ng-click="editCategory(category.id_categoria_competencias);scroollToTop()"><i class="icon-edit"></i></a>
						<a href="javascript:void(0)" ng-click="deleteCategory(category.id_categoria_competencias);"><i class="icon-trash"></i></a>
					</td>
				</tr>
		</table>
	</div>
</div>
