.mdc-typography--headline1 {
    font-size: 32px;
    line-height: 38px;
}

.mdc-typography--headline2 {
    font-size: 24px;
    line-height: 28px;
    margin: 0px;
}

.mdc-typography--headline3 {
    font-size: 18px;
    line-height: 22px;
}

.mdc-typography--headline4 {
    font-size: 10px;
    line-height: 12px;
}

.mdc-typography--body1 {
    font-size: 16px;
    line-height: 24px;
}

.mdc-typography--body2 {
    font-size: 14px;
    line-height: 21px;
}

.azul {
    color: #2069ec;
}

.rosa {
    color: #fd5ecd;
}

.branco {
    color: white;
}

.bgrosa {
    background-color: #fd5ecd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.bgrosa2 {
    background-color: #ff85da;
}

.bgrosa1 {
    background-color: #ffabe6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bgazul {
    background-color: #2069ec;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.bgazul2 {
    background-color: #4887fa;
}

.bgazul1 {
    background-color: #70a2ff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bgpreto {
    background-color: #303131;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.bgpreto2 {
    background-color: #484949;
}

.bgpreto1 {
    background-color: #606162;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bgcinza {
    background-color: #a9aaab;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.bgcinza2 {
    background-color: #d9dbdc;
}

.bgcinza3 {
    background-color: #c1c2c3;
}

.bgcinza1{
    background-color: #f1f3f4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cinza{
    color: #a9aaab;
}

.bgvermelho {
  background-color: #fc636b !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bgvermelho2 {
  background-color: #ff8a90;
}

.bgvermelho1 {
  background-color: #ffb0b4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bgverde1 {
  background-color: #a4ebcc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bgverde2 {
  background-color: #7adeb3;
}

.bgverde {
  background-color: #55d29b;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bgamarelo1 {
  background-color: #ffe478;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bgamarelo2 {
  background-color: #ffda45;
}

.bgamarelo {
  background-color: #f9c806;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.buttonsGrid{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field{
    width: 100%;
}

.mdc-button,
.mdc-chip,
.mdc-dialog__title,
.mdc-dialog__content,
.mdc-drawer .mdc-list-item ,
.mdc-drawer .mdc-list-group__subheader,
.mdc-drawer__title,
.mdc-drawer__subtitle,
.mdc-fab--extended ,
.mdc-floating-label,
.mdc-form-field,
.mdc-grid-tile__support-text,
.mdc-image-list__label,
.mdc-list,
.mdc-list-item__meta:not(.material-icons),
.mdc-list-item__secondary-text,
.mdc-list-group__subheader,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4 {
    font-family: Circular Std Book, sans-serif;
}
:root {
    --mdc-theme-primary: #2069ec;
    --mdc-theme-secondary: #fd5ecd;
    --mdc-theme-background: #fff;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #000;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-dark: white;
    --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5)
}

.mdc-button--raised, .mdc-button--unelevated{
    padding: 0 20px 0 20px
}

.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled){
    background-color: var(--mdc-theme-primary, #2069ec)
}
.mdc-fechar {
    margin-right: 15px;
}

.mdc-excluir{
    background: #fc636b !important;
}

.mdc-text-excluir > .mdc-ripple-surface--accent::before,
.mdc-ripple-surface--accent::after {
    background-color: #fc636b;
}

.mdc-text-excluir{
    color: #fc636b;
}

.long-buttons{
    --mdc-theme-primary: #fff;
}

.mdc-theme--secondary {
    border-color: var(--mdc-theme-secondary, #fd5ecd) !important;
}

.mdc-voltar{
    margin: 24px;
    margin-left: 0px;
}

.mdc-alinha-baixo{
  vertical-align: bottom !important;
}

.mdc-tab--active{
    background-color:var(--mdc-theme-primary,#2069ec);
}

.mdc-tab{
    border: 1px solid var(--mdc-theme-primary,#2069ec);
}

.mdc-tab .mdc-tab__text-label,
.mdc-tab .mdc-tab__icon{
    color: var(--mdc-theme-primary,#2069ec);
}

.mdc-tab--active .mdc-tab__text-label,
.mdc-tab--active .mdc-tab__icon{
    color: #fff;
}

.mdc-tab:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.mdc-tab:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.tabperfil {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 36px;
    height: 36px;
}

.tabokr{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 24px;
    height:;
}

.mdc-tab{
    height: 36px;
}

.mdc-tab-bar{
    width: 100%;
    height: 36px;
}