
.wlcm {
    background: #ff6f00;
    background: -moz-linear-gradient(left, #ff6f00 0%, #6f2b90 100%);
    background: -webkit-linear-gradient(left, #ff6f00 0%,#6f2b90 100%);
    background: linear-gradient(to right, #ff6f00 0%,#ff9800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6f00', endColorstr='#6f2b90',GradientType=1 );
    color: #fff;
}

.button_sets {
    background: #ff9800;
}

.button_sets a.active_bitton_links_dv ~ .okr_animation{
    background-color: #4d4d4d;
}

.page-container .sidebar-menu #main-menu li.active > a, .page-container .sidebar-menu #main-menu li.opened > a {
    border-right: 3px solid #ff6f00 !important;
}

.dblock .nav-tabs > li.active > a, .dblock .nav-tabs > li.active > a:focus, .dblock .nav-tabs > li.active > a:hover, .dblock .nav-tabs > li > a:hover {
    color: #ff9800 !important;
}

.dblock .nav > li > a:after {
	background-color: #ff6f00;
}

.addmore, .editbtn{
    color: #ff6f00; 
}

.addmore:hover, .editbtn:hover{
    color: #ff6f00;
    text-decoration: underline;
}

.hdp:hover, .hdp:hover{
    color: #ff6f00;
}

.nicescroll-cursors 
{
	background-color: rgb(255, 111, 0) !important;
}

.grade-explanation .block:nth-child(5), .btn.btn-clr5, .btn.favorabiltype-btn-clr5{
    background-color: #5a2472;
}
.grade-explanation .block:nth-child(4), .btn.btn-clr4, .btn.favorabiltype-btn-clr4 {
    background-color: #ff6f00;
}

.grade-explanation .block:nth-child(3), .btn.btn-clr3, .btn.favorabiltype-btn-clr3 {
    background-color: #ff6f00db;
}
.grade-explanation .block:nth-child(2), .btn.btn-clr2,  .btn.favorabiltype-btn-clr2 {
    background-color: #ff9800d4;
}
.grade-explanation .block:nth-child(1), .btn.btn-clr1, .btn.favorabiltype-btn-clr1 {
    background-color: #ff98009e;
}

.tabbable-line > .nav-tabs > li.active {
    border-bottom: 3px solid #ff6f00;
}

.corresponsavelcircle {
    background-color: #8985b5;
}

.carrier_panel a{
    color: #4d498a !important;
}

button.apply_filter {
    background-color: #58babc;
}
button.apply_filter:hover {
    background-color: #39a4a7;
}

.hdp {
    color: #ff6f00;
    }

.team-carousel .owl-carousel .item.current:after{
    background: #ff6f00;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange.focus {background: #ff6f00 !important;border: 1px solid #ff6f00!important;}
.btn-orange {background: #fff !important;color: #ff6f00;border: 1px solid #ff6f00 !important;}

.btn-white {
    border-color: #ff6f00 !important;
}

.bottom_footer {
    background: #ff9800;
}
a.finalizado-btn {
    color: #fff !important;
}

.block_headings .image-replace {
    background: #ff6f00;
}

.btn-default a {
    background: #ff6f00;
}
.btn-default a:hover {
    background: #ff6f00;
}

.default-submit {
    background: #ff6f00;
}
.default-submit:hover {
    background: #ff6f00;
}

.radio_dv input[type="radio"]:checked + label {
    color: #ff6f00;
}
.radio_dv input[type="radio"]:checked + label::after {
    color: #ff6f00;
}
.button_sets {
    display: inline-block;
    margin: 0 30px;
    background: linear-gradient(to right, #ff6f00 0%,#ff9800 100%);
    border-radius: 30px;
    padding: 4px;
}
.button_sets:hover {
    display: inline-block;
    margin: 0 30px;
    background: linear-gradient(to right, #ff6f00 0%,#ff9800 100%);
    border-radius: 30px;
    padding:4px;
}

.button_sets.backlink {
    background-color: #ffffff;
    border: 1px solid #ff9800;
    color: #ff6f00 !important;
    -webkit-transition: all .0s ease;
}

.button_sets.backlink.inline {}
.button_sets.backlink:hover {
    background: #ff6f00;
    border: 1px solid #ff6f00;
    color: #fff;
}
.button_sets.backlink a{
    color: #ff6f00;
    border-radius: 30px;
}
.button_sets.backlink a:hover{
    color: #fff;
    border-radius: 30px;
}

.btn-success, .btn-green {background: #fff !important;color: #ff6f00;border: 1px solid #ff6f00 !important;}
.btn-success:hover, .btn-green:hover {background: #ff6f00 !important;border: 1px solid #ff6f00!important;}

.btn-blue {
    color: #ff6f00;
    background-color: #fff;
    border: 1px solid #ff6f00;
}
.btn-blue:hover {
    background-color: #ff6f00;
}

.peopleDevelopmentView .savebtn {
    background-color: #58babc;
}
.peopleDevelopmentView .savebtn:hover {
    background-color: #39a4a7;
}

#teams #side-form button {
    background: #ff6f00;
}
#teams #side-form button:hover {
    background: #ff6f00;
}
#teams .cancelar {
    background: white;
    color: #373e4a;
    border-color: #ebebeb !important;
}
#teams .cancelar:hover {
    background: #ebebeb !important;
    color: #373e4a !important;
}

.key-list .text-right .btn {
    color: #ff6f00 !important;
}

#teams #list .icon-edit, #usuarios #list .icon-edit, .edit_cargo .btn
{
    color: #ff9800!important;
}

#list .key-list .group span{
    background-color: #08bebf;
}

span.corresponsaveis-selected label {
    color: #ff6f00;
}

#usuarios #side-form button{
    background: #fff !important;
    color: #ff6f00;
    border: 1px solid #ff6f00 !important;
}
#usuarios #side-form button:hover{background: #ff6f00 !important;border: 1px solid #ff6f00!important;}
#usuarios .cancelar{color: #373e4a !important;background-color: #FFF!important;border: 1px solid #ebebeb !important;}
#usuarios .cancelar:hover {background: #ebebeb !important;color: #373e4a !important;border: 1px solid #ebebeb !important;}

.label-info{
    background: #ff6f00;
}

.novo_btn {
    color: #ff6f00 !important;
    border-color: #ff6f00 !important;
}
.novo_btn:hover {
    background: #ff6f00;
    color: white !important;
}

.questionarios .action-add {
    color: #ff6f00;
}

button.confirmar, input.confirmar {
    background: #fff !important;
    color: #ff6f00 !important;
    border: 1px solid #ff6f00 !important;
} 
button.confirmar:hover, input.confirmar:hover {
    background-color: #ff6f00 !important;
    border-color: #ff6f00 !important;
    color: #fff !important;
} 

.cancelar_btn {
    color: #373e4a !important;
    background-color: #FFF!important;
    border: 1px solid #ebebeb !important;
}

.cancelar_btn:hover {
    background: #ebebeb !important;
    color: #373e4a !important;
    border: 1px solid #ebebeb !important;
}

.custom_chkbox input[type="checkbox"]:checked + label:after {
    background: #ff9800;
    border-color: #ff9800;
}

input[type="range"].multirange.ghost {
    position: relative;
    background: var(--track-background);
    --track-background: linear-gradient(to right, transparent var(--low), var(--range-color) 0, var(--range-color) var(--high), transparent 0 ) no-repeat 0 45% / 100% 40%;
    --range-color: #ff9800;
}

.zapierView .confirmar{
    background-color: #08bebf !important;
    border-color: #08bebf !important;
}

.box-header .btn.search_btn{

    color: #ff6f00;
    background-color: white;
    border-color: #ff6f00 !important;
}
.box-header .btn.search_btn:hover{
    color: white;
    background-color: #ff6f00;
}

.image-replace.warning {
    background: #ff6f00 !important;
}

a.backr {
    background-color: #ffffff;
    border: 1px solid #ff9800;
    color: #ff6f00;
    -webkit-transition: all .0s ease;
}
a.backr:hover {background-color: #ff6f00;color: #fff;border: 1px solid #ff6f00;}
a.previous_btn{
    background-color: #ffffff;
    border: 1px solid #ff9800;
    color: #ff6f00;
    -webkit-transition: all .0s ease;
}
a.previous_btn:hover{
    background-color: #ff6f00;
    color: #fff;
    border: 1px solid #ff6f00;
}

.goals_feedback_heading{
    background: #fff;
    border: 1px solid #ff9800;
    color: #ff6f00;
}
.goals_feedback_heading:hover{
    background: #ff6f00;
    border: 1px solid #ff6f00;
    color: #fff;
}

.goals_feedback_heading:focus{
    background: #ff6f00;
    border: 1px solid #ff6f00;
    color: #fff;
}
.goals_feedback_heading:active{
    background: #ff6f00;
    border: 1px solid #ff6f00;
    color: #fff;
}
a.apprisialnext {
    background: #fff;
    color: #ff6f00;
    border: 1px solid #ff6f00;
    text-transform: uppercase;
    padding: 5px 25px;
    border-radius: 3px;
    float: right;
    margin-top: 10px;
    -webkit-transition: all .0s ease;
}
a.apprisialnext:hover {
    background: #ff6f00;
    color: #fff;
    border: 1px solid #ff6f00;
}

.categorie1_sec h3 {
    border-bottom: 3px #ff6f00 solid;
    }

.annswer_box input.form-control {
    border-color: #4ca5a7;
}

.table-hover > tbody > tr.cycle_inner_table:hover
{
    background-color: #5e60921a;
}

.first-word {
    background: #6959a5;
    }

.survey-view .fa {
    color: #ff6f00;
}

.radio-box-wrapper.q_data .radio_dv input[type="radio"]:checked + label::after{
    color: #ff6f00;
}

.submit_btn, div.modal button.btn.btn-primary.salvar {
    background: #fff !important;
    color: #ff6f00 ;
    border: 1px solid #ff6f00 !important;
}

.submit_btn:hover, div.modal button.btn.btn-primary.salvar:hover {
    background: #ff6f00 !important;
    border: 1px solid #ff6f00!important;
}

.valores_dv_pop label.valores_dv_btn_pop input[type="checkbox"]:checked + span {
    background: #ff6f00;
    border: 1px solid #ff6f00;
    color: #fff;
}
.valores_dv_pop label.valores_dv_btn_pop span {
    border: 1px solid #ff9800;
    color: #ff6f00;
}

div.modal .styled-checkbox:checked + label:after {
    color: #ff6f00;
    }

.add_career{background: #fff !important;color: #ff6f00;border: 1px solid #ff6f00 !important;}
.add_career:hover, .add_career:focus, .add_career:active {background: #ff6f00 !important;border: 1px solid #ff6f00!important;}

.db_obj .Dvtab_colums_dv.clm_main label {
    color: #ff6f00
    }

.container-block input[type="checkbox"]:checked + label:after {
    background: #ff6f00;
}

.feed_back_give span {
    color: #ff6f00;
}

ul.general_list li span{
    color: #ff6f00
}

ul.general_list li.least-updates a {
    color: #ff6f00;
}

.feddback_btn .fa-comment
{
    color: #ff6f00;
    font-size: 18px;
}

#elotab .stats .result{
    color: #ff6f00;
}

button.btn.btn-primary.save
{
    color: #373E49 !important;
    border: solid 1px #bebebe !important;
    background-color: white !important;
}
button.btn.btn-primary.save:hover
{
    color: #373E49!important;
    background-color: #bebebe!important;
}


.btn-primary{background: #fff !important;color: #ff6f00;border: 1px solid #ff6f00 !important;}
.btn-primary:hover{background: #ff6f00 !important;border: 1px solid #ff6f00!important;}

.feedbackView .one-straight-corner-blue {
    background: #fff !important;
    border: 1px solid #ff9800;
    color: #ff6f00 !important;
}
.feedbackView .one-straight-corner-blue:hover {
    background: #ff6f00 !important;
    border: 1px solid #ff6f00 !important;
    color: #fff !important;
}

.feedbackView .fa{
    color: #ff6f00 !important;
}

.feedbackView .custom_radio .radio_dv input[type="radio"]:checked + label{
    color: #ff6f00 !important;
}

.feedbackView .custom_radio .radio_dv input[type="radio"]:checked + label::after{
    color: #ff6f00 !important;
}

#usuarios .cancelar{
}

#usuarios .cancelar:hover{
}

.add-key-rslts{
    color: #ff6f00 !important;
}

.add_adivade{
    color: #ff6f00 !important;
}
.add-key-rslts:hover{
    color: #ff6f00 !important;
}

.add_adivade:hover{
    color: #ff6f00 !important;
}

.save-btn {
    background: #fff !important;
    color: #ff6f00;
    border: 1px solid #ff6f00 !important;
    border-radius: 20px !important;
    margin: 0 5px 0 5px;
}
.save-btn:hover  {
    background: #ff6f00 !important;
    border: 1px solid #ff6f00!important;
    border-radius: 20px !important;
    margin: 0 5px 0 5px;
}
.add-key-rslts span{
    color: #ff6f00 !important;
}
.add-adivade {
    color: #ff6f00 !important;
}
.icon-plus:before{
    color: #ff6f00;
}
.greenbackground {
    background: #00b050 !important;
    color: #fff !important;
    border-color: #00b050 !important;
}
.greenbackground:hover {
    background: #00b050 !important;
    color: #fff !important;
    border-color: #00b050 !important;
}
.valore_quest_main_sec {
    border-bottom: 2px #ff6f00 solid;
    padding-bottom: 35px;
    }
.competenciaQuestRow{
    border-bottom: 2px #ff6f00 solid;
 }
 .resultsView .container-block input[type="checkbox"]:checked + label:after, .peopleDevelopmentView .container-block input[type="checkbox"]:checked + label:after {
    border-color: #ff6f00 !important;
}
.top_view_box .content-box.estrategico {
    background: #ff6f00;
}
.top_view_box .content-box.estrategico .progres .progress {
    background: #ff9800;
}
.valores_dv label.valores_dv_checker input[type="checkbox"]:checked + span i, .valores_dv label.valores_dv_checker input[type="checkbox"]:checked + span {
    color: #ff6f00;
}
button.btn.btn-primary.salvar {
    background: #fff !important;
    color: #ff6f00 !important ;
    border: 1px solid #ff6f00 !important;
}
button.btn.btn-primary.salvar:hover {
    background: #ff6f00 !important;
    border: 1px solid #ff6f00!important;
    color: #fff !important;
}
.elo button.add-cmt{
    width: 17%;
    background: #ff6f00;
}
